.footer {
  width: 100%;
  background: #ffffff;
  color: #24262F;
  /* padding: 1rem 2rem 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-top: 2px solid #6E06F2; */
  font-family: "Poppins", sans-serif;
}

.footer-content {
  width: 100%;
  /* background-color: burlywood; */
  /* max-width: 1200px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* gap: 5rem; */
  border-bottom: 1px solid rgba(121, 90, 231, 0.15);
  /* padding-bottom: 1.5rem; */
}
.footer .footer-content .footer-col{
  width: 100%;
  color: #24262F;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
}

.footer-col {
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  /* align-items: center; */
  /* background-color: aqua; */
  /* justify-content: center; */
  flex: 1;
  min-width: 220px;
  padding: 0 1rem;
  border-left: 1px solid rgba(121, 90, 231, 0.15);
}

.footer-col:first-child {
  
  border-left: none;
  display: flex;
  justify-content: center;
}

.footer-logo {
  font-size: 1.8rem;
  color: blueviolet;
  /* margin-bottom: 1rem; */
}

.address {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
  font-size: 0.9rem;
  color: #24262F;
  line-height: 1.6;
}

.address-icon {
  color: blueviolet;
  font-size: 1.2rem;
  /* margin-top: 4px; */
}

.footer-col h3 {
  font-size: 1.2rem;
  color: #24262F;
  /* margin-bottom: 1rem; */
  border-bottom: 2px solid rgba(121, 90, 231, 0.2);
  display: inline-block;
  /* padding-bottom: 4px; */
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



.footer-col a {
  color: #24262F;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.footer-col a:hover,
.footer-col a.active {
  color: blueviolet;
  border-bottom: 2px solid blueviolet;
}

.resume-btn {
  background: blueviolet;
  border: none;
  padding: 0.6rem 1rem;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background 0.3s ease;
}

.resume-btn:hover {
  background: #5a03d4;
}

.contact-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  color: #24262F;
  font-weight: 500;
  transition: 0.3s;
}

.contact-link:hover {
  color: blueviolet;
}

.footer-note {
  text-align: center;
  font-size: 0.9rem;
  color: #3f3737;
  
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* padding-top: 1em; */
  /* margin-top: 1.2rem; */
}

.inline-heart {
  color: #6E06F2;
  /* margin: 0 5px; */
}

/* Responsive */
@media (max-width: 960px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-col {
    border: none;
    padding: 0;
  }

}
